.form-dados{
    justify-content: center;
    margin: 80px 0;
    align-content: center;
    
}

.form-dados form{
    max-width: 100%;
    background: #F6F6F6;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 12px 32px;
}

.form-dados h3{
    margin-left: 32px;
    padding: 12px;
    border-bottom: 2px solid;
    
}