.rodape{
    background-color:darkolivegreen;
    width: 100%;
   
    text-align: center;
    color: #FFF;
    font-weight: 600;
    
}

.rodape img{
    justify-content: space-between;
    padding: 16px;
    margin: 32px 0 32px;
}